<div class='col-12 vcentered'>
  {{input class='form-control float-left' value=model.title }}
  <div class='actions-custom float-right'>
    <button class='btn btn-primary btn-md' {{action 'save'}}>
      <i class='mdi mdi-content-save'></i>
      Save
      {{!-- {{t 'forms.save'}} --}}
    </button>
  </div>
</div>

<div class="col-12 grid-stack-wrapper">
  <div class="grid-stack">
    {{#if isEmpty}}
      Loading data...
    {{else }}
      {{#each model.visualizations as |viz|}}
        {{dashboards/vis-wrapper
          viz=viz
          data=viz.data
        }}
      {{/each }}
    {{/if}}
  </div>
</div>
